<!-- Top Header -->

<div class="box1 ">
<div class="row">
<div class="col-md-3  col-sm-12 diginit">
		 <a id="digleft" href="{{ site.baseurl }}/index.html" title="University of Idaho Library Digital Initiatives" >
  <img id="digleft" src="https://www.lib.uidaho.edu/digital/justdi_logo_sm.png" alt="digital initiatives logo" /></a><br/>
 <a  href="https://www.lib.uidaho.edu" title="University of Idaho Library"> <img id="libleft" src="https://www.lib.uidaho.edu/digital/justlib_logo_sm.png" alt="library logo" /></a>  </div>
  





<div id="title" class="col-md-9" >
		 <h2><a href="index.html" >{{ page.colltitle}}</a></h2>		 
         <p>{{ page.short_desc}} </p>
</div>
</div>	

	
		 
		 
</div>
<!-- EndTop Header -->
<header class="site-header">

  <div class="wrapper row">

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"></path>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"></path>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"></path>
        </svg>
      </a>

      <div class="trigger">
        <div class="col-md-8 col-sm-12" style="whitespace:nowrap;">
  <a class="page-link" href="index.html" id="homehash" >Home</a> 
{% if page.menu contains "about" %}<a class="page-link" href="about.html" id="abouthash" >About</a>{% endif %}
{% if page.menu contains "map" %}<a class="page-link" href="map.html" id="maphash">Map</a>{% endif %}
{% if page.menu contains "interview" %}<a class="page-link" href="/digital/calnon/interview/viewer.php?cachefile=Calnon.xml" id="interviewhash" >Interview</a>{% endif %}
{% if page.menu contains "timeline" %}<a class="page-link" href="timeline.html" id="timehash" >Timeline</a>{% endif %}
{% if page.menu contains "subjects" %}<a class="page-link" href="subjects.html" id="subhash">Subjects</a>{% endif %}
{% if page.menu contains "table" %}<a class="page-link" href="table.html" id="subhash">Table</a>{% endif %}
{% if page.menu contains "all" %}<a class="page-link" href="all.html" id="allhash">View All</a>{% endif %}
<a class="page-link" href="https://digital.lib.uidaho.edu/cdm/search/collection/{{ page.CDMID}}" id="allhash">Database</a>
        </div>
<div class="col-md-4 pull-right">
 
     
        
<div >
<form action="https://digital.lib.uidaho.edu/cdm4/results.php" method="get" class="searchall ">
<input type="hidden" value="all" name="CISOOP1">
<input type="text" size="15" name="CISOBOX1">
<input type="hidden" value="CISOSEARCHALL" name="CISOFIELD1">
<input type="hidden" value="exaxt" name="CISOOP2">
<input type="hidden" value="" name="CISOBOX2">
<input type="hidden" value="CISOSEARCHALL" name="CISOFIELD2">
<input type="hidden" value="any" name="CISOOP3">
<input type="hidden" value="" name="CISOBOX3">
<input type="hidden" value="CISOSEARCHALL" name="CISOFIELD3">
<input type="hidden" value="none" name="CISOOP4">
<input type="hidden" value="" name="CISOBOX4">
<input type="hidden" value="CISOSEARCHALL" name="CISOFIELD4">
<input type="hidden" value="/{{ page.CDMID}}" name="CISOROOT">
<input class="button-all" type="submit" value=" Search ">
</form>

</div>
 <!--<div id="advanced" class=" col-md-5" ><a href="table.html" id="tab">Advanced  Search</a></div>-->


      </div>
 </div>
    </nav>

  </div>

</header>
