<!DOCTYPE html>
<html>

  {% include head.html %}
 <title>About the {{page.colltitle}} | Digital Initiatives | University of Idaho Library</title>
  <meta name="description" content="{% if page.short_desc %}{{ page.short_desc | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

 

</head>
  <body>
    {% include collectionheader.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="basicabout">
        {% include abouthtml/{{page.Path}}.html %}
    </div>
    </div>
    </div>

    {% include footer.html %}

  </body>

</html>
