<!DOCTYPE html>
<html>

  {% include head.html %}
 <title>About the Mark Brooks Calnon  Collection | Digital Initiatives | University of Idaho Library</title>
  <meta name="description" content="{% if page.short_desc %}{{ page.short_desc | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

 

</head>
  <body>
{% include collectionspull.html %}
    {% include collectionheader.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="basicabout">
         <div class="about-narrative">
          
 <h3>About the Collection</h3>
    
<div style="width:85%;margin:0% auto;float:left;" class="introparagraphs">
  <div style="float:right; padding:10px; width:400px;">
<a href="https://www.neh.gov/" target="_blank"><img style="max-width:350px;" src="/digital/images/neh_at_logo.png" /></a> <br/><br />
<a href="https://www.latahcountyhistoricalsociety.org/" target="_blank"><img style="max-width:350px;" src="/digital/images/lchs.png" /></a><br/><br /><br/><br />
</div>
<p>The Latah County Common Heritage Collection was driven by funding from a National Endowment for the Humanities (NEH) <a href="https://www.neh.gov/grants/preservation/common-heritage"> Common Heritage Grant</a> awarded to the University of Idaho Library in 2016. The materials in this collection were collected via community digitization days held in Moscow and Potlatch in 2016 and 2017. </p>
<p>The project was a collaboration between the University of Idaho Library and the <a href="https://www.latahcountyhistoricalsociety.org/">Latah County Historical Society</a>; it was directed by Devin Becker, Dulce Kersting, and Erin Stoddart.  If you have any questions about the collection or are interested in donating materials, please email us at <a href="mailto:libspec@uidaho.edu">libspec@uidaho.edu</a>.</p>
<p>The collection would not be possible without generous donations of time and materials from a variety of individual donors and staff. The directors would like to thank our donors: <p style="width:50%;font-size:larger;text-align:center;float:left;">Wilma Daniels<br /> The City of Moscow<br /> Ariana Burns<br /> LeNelle McInturff<br /> Elizabeth Stevens<br /> Nels Reese<br />  Gary Strong<br /> M Spakoski</p><p style="width:50%;font-size:larger;text-align:center;float:left;"> Janice Palmer<br /> Ann Davis<br /> John Wolheter<br /> Virginia Soncarty<br /> Joe Rohn<br /> Verna Comstock <br/> Dusty Fleener<br/> <br/> </p>
<p><br/> </p>
<hr />
<p>This collection would also not be possible without the help of the following individuals: Jessica Wilson-Saia, Kevin Dobbins, Evan Williamson, Ashlyn Velte, Zach Wnek,  Elizabeth Biancosino, and Autrey Jeskey. Many thanks to them as well. </p>





</div>

<div style="clear:both">
</div><hr />
       
      </div>
    </div>
    </div>
    </div>

    {% include footer.html %}

  </body>

</html>
