<!DOCTYPE html>
<html>

  {% include head.html %}
   <title> {{page.colltitle}} | Digital Initiatives | University of Idaho Library</title>
  <meta name="description" content="{% if page.short_desc %}{{ page.short_desc | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

</head>
  <body>
    {% include collectionheader.html %}

    <div class="page-content">

      
      <div class="wrapper">
       
<div style="width:70%;margin:0% auto;" class="introparagraphs">
<p>The digital materials in the Potlatch Historical Society Collection were donated to the University of Idaho Library by the Potlatch Historical Society. Some were also collected via a community digitization day held at the Potlatch Public Library in 2017. Search and browse items using the images and links below. More about the Potlatch Historical Society can be found <a href="http://potlatchhistoricalsociety.org/">here</a>. </p>

</div>
<p class="center">
<input type="text" id="quicksearch" placeholder="Search ... "> <input id="goButton" class="btn" title="Search" type="submit" value="Go" alt="Search" style="margin-top: -14px;"> <a class="vocab info2" href="#" data-filter="">Reset Search</a> <span class="info2"><span id="numberof">{{page.webitems}}</span> of {{page.webitems}} items</span> </p>


  

  




<div class="isotope" id="isocontainer" style="position: relative;overflow: visible;height: 2800px;width:90%;margin:0% auto;">
  
  
   
 
     <!--<div class="item col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12" >
            <div id="countit" class="card">
   <div class="card-block">
    <h3 class="card-title center">{{ item.title }} </h3>
     
     <p class="card-text center"><b>Date</b>:{{item.date}}</p>
     <p class="center">
     <a  target="_blank" href="https://digital.lib.uidaho.edu/cdm/ref/collection/{{page.CDMID}}/id/{{ item.cdmid }}">
             <img class="lazy" style="height:100px; width:auto;" data-original="https://digital.lib.uidaho.edu/utils/getthumbnail/collection/{{page.CDMID}}/id/{{item.cdmid}}"/>
                    </a></p>
                 
    <p class="card-text center">{{item.description | truncatewords: 20}}</p>
    <p style="display:none;">{{item.description}}{{item.subjects}}</p>
    <p class="center"><a target="_blank" href="https://digital.lib.uidaho.edu/cdm/ref/collection/{{page.CDMID}}/id/{{ item.cdmid }}" class="btn btn-primary">Go to Item</a></p>
  </div>
</div>
</div>-->


   {% for item in site.data.[page.Path] %}

         <div id="countit" class="item col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12" >
            <div  class="card">
                 <p class="center">
  <a target="_blank" href="https://digital.lib.uidaho.edu/cdm/ref/collection/{{page.CDMID}}/id/{{ item.cdmid }}">
 {% if forloop.index < 100 %}
       {% if item.type contains "image" %}
    <img class="card-img-top " src="http://digital.lib.uidaho.edu/utils/ajaxhelper/?CISOROOT={{page.CDMID}}&CISOPTR={{ item.cdmid }}&action=2&DMSCALE=30&DMWIDTH=512&DMHEIGHT=512&DMX=0&DMY=0&DMTEXT=&DMROTATE=0" alt="{{ item.title}}"></a>
  {% else %}

   <img class="bookimg " style="height:120px;" src="http://digital.lib.uidaho.edu/utils/getthumbnail/collection/{{page.CDMID}}/id/{{item.cdmid}}"/></a>
     {% endif %}
 {% else %}
      {% if item.type contains "image" %}
    <img class="card-img-top lazy" style="height:190px;width:auto;" data-original="http://digital.lib.uidaho.edu/utils/ajaxhelper/?CISOROOT={{page.CDMID}}&CISOPTR={{ item.cdmid }}&action=2&DMSCALE=30&DMWIDTH=512&DMHEIGHT=512&DMX=0&DMY=0&DMTEXT=&DMROTATE=0" alt="{{ item.title}}"></a>
  {% else %}

   <img class="bookimg lazy" style="height:120px;" data-original="http://digital.lib.uidaho.edu/utils/getthumbnail/collection/{{page.CDMID}}/id/{{item.cdmid}}"/></a>
     {% endif %}
      {% endif %}
  </p>
  <div class="card-block">
    <h4 class="card-title">{{ item.title }}</h4>
    <p class="card-text infoint">{{item.date}}</p>
    <p class="card-text infoint">{{item.description | truncatewords: 15}}</p>
    <a target="_blank" href="https://digital.lib.uidaho.edu/cdm/ref/collection/{{page.CDMID}}/id/{{ item.cdmid }}" class="btn btn-primary">Go to Item</a>
  </div>
</div>
</div>


             {% endfor %}


</div>
   
	
    
 
 

</div>
</div>

<!-- Page Content - Isotope Cascading Images -->



<script src="https://www.lib.uidaho.edu/digital/js/isotope-docs.min.js"></script>
<script src="https://www.lib.uidaho.edu/digital/js/jquery.infinitescroll.min.js"></script>

        <script src="../js/jquery.lazyload.js"></script>

<script>


jQuery(document).ready(function($) {
    var $win = $(window),
        $container = $('#isocontainer'),
        $imgs = $("img.lazy");
// init Isotope
   var qsRegex;

    $container.isotope({
     itemSelector: '.item',
 layoutMode: 'fitRows',
 transitionDuration: 0,
onLayout: function() {
            $win.trigger("scroll");
        },
    filter: function() {
      return qsRegex ? $(this).text().match( qsRegex ) : true;
    }
  });


  
  $imgs.lazyload({ 
        effect: "fadeIn",
        failure_limit: Math.max($imgs.length - 1, 0),
        load: function(){
  setTimeout($container.isotope(), 2000);//fires this function when it appears
}
       
    });


 $('img.lazy').on('appear',500, function(){
  setTimeout(console.log("laz"), 2000);//fires this function when it appears
});



 
  // use value of search field to filter
  var $quicksearch = $('#goButton').click( function() {
    qsRegex = new RegExp( $('#quicksearch').val(), 'gi' );
    $container.isotope();
  }) ;
   
   $('#quicksearch').keypress(function(e){
        if(e.which == 13){//Enter key pressed
            $('#goButton').click();//Trigger search button click event
        }
    });

    $('#sorts').on( 'click', 'button', function() {
  var sortByValue = $(this).attr('data-sort-by');
  $container.isotope({ sortBy: sortByValue });
  $(this).addClass('select');
  $('#sorts button').not(this).removeClass('select');
});



function onLayout() {
  var numberofint = $('div.item:visible').length;
  $("#numberof").html(numberofint);
  $("html,body").trigger("scroll");
}
// bind event listenerg

 $container.isotope('layout');
  $container.isotope( 'on', 'layoutComplete', onLayout );

  
});


var filterit = function() {
 $('#quicksearch').val('');
$(this).addClass('selectfilter');
$('a.vocab').not(this).removeClass('selectfilter');
  var filterValue = $(this).attr('data-filter');
  var filterClass = $(this).attr('data-filter').replace(" ","-").replace(" ","-");
 $('#quicksearch').val($('#quicksearch').val() + filterValue);
  $('#goButton').click();
    window.location.hash = filterValue; 
   var filterValueclass = "." + filterClass;
//$(filterValueclass).addClass('selectfilter');


};



  
 $('a.vocab').click(filterit);






 


</script>

<script>
var hashfilter = location.hash.substr(1).replace("%20"," ").replace("%20"," ").replace("%20"," ").replace("%20"," ");
var hashfilterclass = "." + location.hash.substr(1).replace("%20","-").replace("%20","-").replace("%20","-").replace(" ","-").replace(" ","-").replace(" ","-");
$(document).ready(function() {

$("#quicksearch").focus();
if(window.location.hash) {
	// code to be executed if condition is true
 $('#quicksearch').val($('#quicksearch').val() + hashfilter);
$('#goButton').click();
//$(hashfilterclass).addClass('selectfilter');


$('.introparagraphs').animate({
    opacity: 0.25,
    left: "+=50",
    height: "hide"
  }, 300, function() {
    // Animation complete.
  });
  $('.intropar').show();
  $('#isocontainer').isotope('layout');
}
else{
 
}});
/*
$('a.vocab').click( function() {
$('.introparagraphs').animate({
    opacity: 0.25,
    left: "+=50",
    height: "hide"
  }, 300, function() {
    // Animation complete.
  });
  $('.intropar').show();
  $("html,body").trigger("scroll");
});

$('#showintro').click( function() {
$('.introparagraphs').show();
$('.introparagraphs').css("opacity","1");
$('.intropar').hide();
  });*/
</script>




     {% include footer.html %}



  </body>

</html>
  
  
