<!DOCTYPE html>
<html>

  {% include head.html %}
   <title> {{page.colltitle}} | Digital Initiatives | University of Idaho Library</title>
  <meta name="description" content="{% if page.short_desc %}{{ page.short_desc | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

</head>
  <body>
    {% include collectionheader.html %}

    <div class="page-content">

      
      <div class="wrapper">
       
<div style="width:80%;margin:0% auto;" class="introparagraphs">
<p> The Guided Reading Library is a digital collection of short books created by students in the University of Idaho's College of Education. This library is directed by <a href="https://vivo.nkn.uidaho.edu/vivo/display/n9735">Margaret Vaughn</a>, in collaboration with the Digital Inititiaves department of the University of Idaho Library. For more information about the collection and its contributors, <a href="about.html">click here</a>.</p>
<p>You can search the books below by keyword or author, or use the links below to the left to limit your selections by grade level.</p>
</div>
<p class="center">
<input type="text" id="quicksearch" placeholder="Search ... "> <input id="goButton" class="btn" title="Search" type="submit" value="Go" alt="Search" style="margin-top: -14px;"> <a class="vocab info2" href="#" data-filter="">Reset Search</a> <br class="hidden-md-up"> 
<span class="info2"><span id="numberof">{{page.webitems}}</span> of {{page.webitems}} items</span> </p>


 
<div id="filters">        
         <div class="vocab-group js-radio-button-group" data-filter-group="subject" style="width:100%; float:left;text-align:center;">
    <p><span class="info">Grade Level:</span> <br class="hidden-sm-down"> 
	<a class="vocab" href="#" data-filter="">All</a><br class="hidden-sm-down"> 
<a class="vocab Kindergarten" href="#Kindergarten" data-filter="Kindergarten">Kindergarten</a><br class="hidden-sm-down"> 
<a class="vocab First-Grade" href="#First-Grade" data-filter="First-Grade">First Grade</a><br class="hidden-sm-down"> 
<a class="vocab Second-Grade" href="#Second-Grade" data-filter="Second-Grade">Second Grade</a><br class="hidden-sm-down"> 
<a class="vocab Third-Grade" href="#Third-Grade" data-filter="Third-Grade">Third Grade</a><br class="hidden-sm-down"> 
<a class="vocab Fourth-Grade" href="#Fourth-Grade" data-filter="Fourth-Grade">Fourth Grade</a><br class="hidden-sm-down"> 
<a class="vocab Fifth-Grade" href="#Fifth-Grade" data-filter="Fifth-Grade">Fifth Grade</a><br class="hidden-sm-down"> 

    </p>
<p><span class="info">Subjects:</span> <br class="hidden-sm-down"> 
<a class="vocab america" href="#america" data-filter="america">america</a><br class="hidden-sm-down">
<a class="vocab animation" href="#animation" data-filter="animation">animation</a><br class="hidden-sm-down">
<a class="vocab amphibian" href="#amphibian" data-filter="amphibian">amphibian</a><br class="hidden-sm-down">
<a class="vocab cartoons" href="#cartoons" data-filter="cartoons">cartoons</a><br class="hidden-sm-down">
<a class="vocab cycle" href="#cycle" data-filter="cycle">cycle</a><br class="hidden-sm-down">
<a class="vocab dance" href="#dance" data-filter="dance">dance</a><br class="hidden-sm-down">
<a class="vocab disney" href="#disney" data-filter="disney">disney</a><br class="hidden-sm-down">
<a class="vocab dogs" href="#dogs" data-filter="dogs">dogs</a><br class="hidden-sm-down">
<a class="vocab farm" href="#farm" data-filter="farm">farm</a><br class="hidden-sm-down">
<a class="vocab fish" href="#fish" data-filter="fish">fish</a><br class="hidden-sm-down">
<a class="vocab habitat" href="#habitat" data-filter="habitat">habitat</a><br class="hidden-sm-down">
<a class="vocab history" href="#history" data-filter="history">history</a><br class="hidden-sm-down">
<a class="vocab idaho" href="#idaho" data-filter="idaho">idaho</a><br class="hidden-sm-down">
<a class="vocab life" href="#life" data-filter="life">life</a><br class="hidden-sm-down">
<a class="vocab nature" href="#nature" data-filter="nature">nature</a><br class="hidden-sm-down">
<a class="vocab solar" href="#solar" data-filter="solar">solar</a><br class="hidden-sm-down">
<a class="vocab system" href="#system" data-filter="system">system</a><br class="hidden-sm-down">
<a class="vocab turtles" href="#turtles" data-filter="turtles">turtles</a><br class="hidden-sm-down">

</p>
  </div>
</div>

  




<div class="isotope" id="isocontainer" style="position: relative;overflow: visible;height: 2800px;width:75%;margin:0% auto;">
  
  
   {% for item in site.data.[page.Path] %}
 
     <div class="item col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12" >
            <div id="countit" class="card">
              {% if page.colltitle contains 'McCall' %}
                <div class="card-block">
    <h3 class="card-title center">{{ item.title }} </h3>
     <p class="card-text center"><b>Dates</b>:{{item.span}}</p>
     <p class="center">
     <a  target="_blank" href="https://digital.lib.uidaho.edu/cdm/ref/collection/{{page.CDMID}}/id/{{ item.cdmid }}">
             <img class="lazy" style="height:100px; width:auto;" data-original="https://digital.lib.uidaho.edu/utils/getthumbnail/collection/{{page.CDMID}}/id/{{item.cdmid}}"/>
                    </a></p>
                 
    <p class="card-text center">{{item.description | truncatewords: 20}}</p>
                        
                      <p style="display:none"><b>Keywords:</b> {{item.keywords}} </p>
           <p><b>Locations:</b> {{item.locations}} </p>
               <p><b>Publisher:</b> {{item.publisher}} </p>
                  <p style="display:none"> {{item.people}} | {{item.dates}}</p>
    <p class="center"><a target="_blank" href="https://digital.lib.uidaho.edu/cdm/ref/collection/{{page.CDMID}}/id/{{ item.cdmid }}" class="btn btn-primary">Go to Item</a></p>
    <p class="center" style="font-size:10px;"><em>NOTE: This link only works on McCall Public Library computers. Email dbecker@uidaho.edu with any questions.</em></p>
     </div>
  {%else%}
   <div class="card-block">
    <h3 class="card-title center"><a  target="_blank" href="library/{{ item.id }}.html">{{ item.title }}</a></h3>
     <p class="card-text center">by {{item.author}}</p>
 
     <p class="center">
     <a  target="_blank" href="library/{{ item.id }}.html">
             <img class="lazy" style="height:100px; width:auto;" data-original="https://digital.lib.uidaho.edu/utils/getthumbnail/collection/{{page.CDMID}}/id/{{item.cdmid}}"/>
                    </a></p>
                 
   {% if item.grade contains "nullo" %}
   {% else %}   
   <p><span class="info">Reading Level:</span><span class="vocabulary" id="filterbox"><a class="vocab {{ item.grade | capitalize | append: "-Grade"}}" data-filter="{{ item.grade | capitalize | append: "-Grade"}}" href="/digital/guidedreading/index.html#{{ item.grade}}-Grade">{{ item.grade | capitalize | append: "-Grade"}}</a></span></p>{% endif %}
                       <p><b>Keywords:</b><span class="info">Keywords:</span> <span class="vocabulary" id="filterbox">
                         {% assign subjects = item.keywords | split:';' %}
                     {% for subject in subjects %}
                     <a class="vocab {{ subject | strip }}" data-filter="{{ subject | strip }}" href="#{{ subject | strip }}">{{ subject }}</a>
                     {% endfor %}</span></p> 
                     
    <p class="center"><a target="_blank" href="library/{{ item.id }}.html" class="btn btn-primary">Go to Item</a></p>
    
  </div>
  {% endif %}
</div>
</div>

             {% endfor %}


</div>
   
	
    
 
 

</div>
</div>

<!-- Page Content - Isotope Cascading Images -->



<script src="https://www.lib.uidaho.edu/digital/js/isotope-docs.min.js"></script>
<script src="https://www.lib.uidaho.edu/digital/js/jquery.infinitescroll.min.js"></script>

        <script src="../js/jquery.lazyload.js"></script>

<script>


jQuery(document).ready(function($) {
    var $win = $(window),
        $container = $('#isocontainer'),
        $imgs = $("img.lazy");
// init Isotope
   var qsRegex;

    $container.isotope({
     itemSelector: '.item',
 layoutMode: 'fitRows',
 transitionDuration: 0,
onLayout: function() {
            $win.trigger("scroll");
        },
    filter: function() {
      return qsRegex ? $(this).text().match( qsRegex ) : true;
    }
  });


  
  $imgs.lazyload({ 
        effect: "fadeIn",
        failure_limit: Math.max($imgs.length - 1, 0)
        
       
    });


 $('img.lazy').on('appear',500, function(){
  setTimeout(console.log("laz"), 2000);//fires this function when it appears
});



 
  // use value of search field to filter
  var $quicksearch = $('#goButton').click( function() {
    qsRegex = new RegExp( $('#quicksearch').val(), 'gi' );
    $container.isotope();
    $('.introparagraphs').animate({
    opacity: 0.25,
    left: "+=50",
    height: "hide"
  }, 300, function() {
    // Animation complete.
  });
  }) ;
   
   $('#quicksearch').keypress(function(e){
        if(e.which == 13){//Enter key pressed
            $('#goButton').click();//Trigger search button click event
            $('.introparagraphs').animate({
    opacity: 0.25,
    left: "+=50",
    height: "hide"
  }, 300, function() {
    // Animation complete.
  });
        }
    });

    $('#sorts').on( 'click', 'button', function() {
  var sortByValue = $(this).attr('data-sort-by');
  $container.isotope({ sortBy: sortByValue });
  $(this).addClass('select');
  $('#sorts button').not(this).removeClass('select');
});



function onLayout() {
  var numberofint = $('div.item:visible').length;
  $("#numberof").html(numberofint);
  $("html,body").trigger("scroll");
}
// bind event listenerg

 $container.isotope('layout');
  $container.isotope( 'on', 'layoutComplete', onLayout );

  
});


var filterit = function() {
 $('#quicksearch').val('');
$(this).addClass('selectfilter');
$('a.vocab').not(this).removeClass('selectfilter');
  var filterValue = $(this).attr('data-filter');
  var filterClass = $(this).attr('data-filter').replace(" ","-").replace(" ","-");
 $('#quicksearch').val($('#quicksearch').val() + filterValue);
  $('#goButton').click();
  
    window.location.hash = filterValue; 
   var filterValueclass = "." + filterClass;
$(filterValueclass).addClass('selectfilter');


};



  
 $('a.vocab').click(filterit);






 


</script>

<script>
var hashfilter = location.hash.substr(1).replace("%20"," ").replace("%20"," ").replace("%20"," ").replace("%20"," ");
var hashfilterclass = "." + location.hash.substr(1).replace("%20","-").replace("%20","-").replace("%20","-").replace(" ","-").replace(" ","-").replace(" ","-");
$(document).ready(function() {

$("#quicksearch").focus();
if(window.location.hash) {
	// code to be executed if condition is true
 $('#quicksearch').val($('#quicksearch').val() + hashfilter);
$('#goButton').click();
//$(hashfilterclass).addClass('selectfilter');


$('.introparagraphs').animate({
    opacity: 0.25,
    left: "+=50",
    height: "hide"
  }, 300, function() {
    // Animation complete.
  });
  $('.intropar').show();
  $('#isocontainer').isotope('layout');
}
else{
 
}});

$('a.vocab').click( function() {
$('.introparagraphs').animate({
    opacity: 0.25,
    left: "+=50",
    height: "hide"
  }, 300, function() {
    // Animation complete.
  });
  $('.intropar').show();
  $("html,body").trigger("scroll");
});

$('#showintro').click( function() {
$('.introparagraphs').show();
$('.introparagraphs').css("opacity","1");
$('.intropar').hide();
  });
</script>




     {% include footer.html %}



  </body>

</html>
  
  
