<!DOCTYPE html>
<html>

  {% include head.html %}
</head>
  <body>
 {% include collectionspull.html %}
    {% include collectionheader.html %}

    <div class="page-content">
      <div class="wrapper">
       
<div id="htmltagcloud" style="margin: 0% auto; background: none repeat scroll 0% 0% rgb(64, 82, 79); padding: 4px; width:60%">
    {% include clouds/{{ page.Path }}.html %}
          </div>   	  
    
         <!-- {% for item in site.data.[page.Path] %}
          <p>

            {{ item.keywords }};
            </p>
          {%endfor%}-->

          
    
<div style="clear: both"></div>   	  
</div>
      
	

      </div>
    </div>

    {% include footer.html %}
